.titleLogo {
  font-size: 55px;
  color: white;
  font-weight: 800;
  border-top: 1px solid #21ebff;
  margin-bottom: 20px;
}

@media (max-width: 300px) {
  .titleLogo {
    font-size: 45px;
    color: white;
    font-weight: 800;
    border-top: 1px solid #21ebff;
  }
}

.pageContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body {
  background: #010615;
}
.box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  padding: 20px 10px;
  justify-content: flex-start;
  align-items: center;
  background: #060c21;
  margin: 40px;
  flex-direction: column;
}

.box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.box::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.box .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box .content {
  padding: 20px;
  color: #fff;
}

.box:nth-child(1)::before,
.box:nth-child(1)::after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2)::before,
.box:nth-child(2)::after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(3)::before,
.box:nth-child(3)::after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

/*scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #21ebff);
  border-radius: 6px;
}

/* tabs */

.tabsPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f3f3f3;
  overflow: hidden;
  box-sizing: border-box;
  flex-flow: row wrap;
}

.tabsContainer {
  position: relative;
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.5s;
  transform: skewY(-10deg);
}

.tabsContainer .tabsCard {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  transition: 0.5s;
  margin: 40px 20px;
}

@media (max-width: 1300px) {
  .tabsContainer {
    position: relative;
    width: 1050px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: skewY(-10deg);
    margin: 100px 20px;
    margin-bottom: 60px;
  }
  .tabsContainer .tabsCard {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    transition: 0.5s;
    margin: 40px 20px;
    margin-right: 0px;
  }
}

.tabsContainer .tabsCard::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background: #00c0f6;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

.tabsContainer .tabsCard::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 50%;
  background: #00c0f6;
  transform-origin: left;
  transform: skewY(45deg);
  transition: 0.5s;
  border-bottom: 200px solid #d9d9d9;
}

@media (min-width: 1300px) {
  .tabsContainer .tabsCard:hover {
    transform: translateY(-40px);
  }
  .tabsContainer .tabsCard:hover .tabsContent::before {
    transform: translateY(40px) skewX(45deg);
    filter: blur(5px);
    opacity: 0.5;
  }
}
.tabsContainer .tabsCard .imgBx {
  position: relative;
  width: 300px;
  height: 200px;
  background: #00c7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tabsContainer .tabsCard .imgBx img {
  max-width: 100px;
}

.tabsContainer .tabsCard .imgBx h3 {
  position: relative;
  color: #fff;
  margin-top: 10px;
}
* {
  box-sizing: border-box;
}
.tabsContainer .tabsCard .tabsContent {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 20px;
  color: #777;
  text-align: center;
  background: #fff;
}
.tabsContainer .tabsCard .tabsContent::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  pointer-events: none;
  z-index: -1;
}

.tabsContainer .tabsCard:nth-child(1) {
  z-index: 3;
}

.tabsContainer .tabsCard:nth-child(2) {
  z-index: 2;
}
.tabsContainer .tabsCard:nth-child(3) {
  z-index: 1;
}

/* icons footer */

ul {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  transform: rotate(-25deg) skew(25deg);
  padding: 0;
}

ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 10px;
}
ul li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #0077b5;
  transform-origin: top;
  transform: skewX(-41deg);
}
ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #0077b5;
  transform-origin: right;
  transform: skewY(-49deg);
}
ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #0077b5;
  color: white;
  font-size: 30px !important;
  transition: 0.2s;
}

ul li:hover span {
  z-index: 1000;
  transition: 0.5s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}
ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}
ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}
ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}
ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

ul li:nth-child(1):hover span {
  background: #0077b5;
}
